* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.btn {
  border: none;
  padding: 10px;
  border-radius: 150px;
  color: #ffffff;
  font-weight: 600;
  background: linear-gradient(
    to top,
    rgb(231, 216, 53),
    rgb(224, 7, 159),
    rgb(123, 4, 209)
  );
  transition: all 0.3s ease;
}
.btn:hover {
  background: linear-gradient(
    to top,
    rgb(123, 122, 107),
    rgb(140, 20, 104),
    rgb(80, 30, 117)
  );
  transform: scale(1.1);
}
/* navbar style */
.techwave-navbar {
  max-width: 1600px;
  background-color: #190c2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.techwave-navbar .tech-color {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.techwave-navbar #wave-color {
  background: linear-gradient(
    to top,
    rgb(231, 216, 53),
    rgb(224, 7, 159),
    rgb(123, 4, 209)
  );
  background-clip: text;
  color: transparent;
}
.techwave-manubar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}
.techwave-manubar-list li {
  list-style: none;
}
.techwave-manubar-list li a {
  text-decoration: none;
  color: #ffffff;
}
.techwave-btn {
  border: none;
}
/* hero section start */
.hero-section {
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
}
.hero-img-div {
  text-align: center;
  background-image: url(./assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px;
}
.hero-img img {
  width: 90%;
}
.hero-img {
  position: relative;
}
.new {
  position: absolute;
  margin-top: -50px;
  margin-left: 35px;
  background-color: #00ff88;
  border-radius: 30px;
  padding: 8px;
}
.hero-des-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-des-header {
  text-align: center;
}
.hero-des-header h3 {
  font-size: 4rem;
  font-weight: bolder;
  color: #ffffff;
}
.hero-des-header p {
  font-size: 1rem;
  color: #ffffff;
}
.hero-des-btn {
  text-align: center;
  margin-top: 24px;
}
.hero-btn1 {
  margin-right: 10px;
}
.hero-btn1-icon {
  padding-right: 8px;
}
#hero-btn2 {
  text-align: center;
  border: 1px solid #00ff88;
  padding: 10px;
  border-radius: 150px;
  color: #00ff88;
  font-weight: 600;
  background: transparent;
  width: 130px;
  transition: all 0.3s ease;
}
#hero-btn2:hover {
  transform: scale(1.1);
}
#hero-btn2 img {
  width: 22px;
  padding-right: 8px;
}
/* podcast section */
#podcast-section {
  background-color: #190c2d;
}
.Podcast-des {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.podcast-des-div {
  max-width: 1200px;
}
.podcast-des-div h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}
.podcast-des-div p {
  color: #ffffff;
  line-height: 2;
  margin-top: 10px;
}
.podcast-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 80px;
  line-height: 1.5;
}
.rating h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #00ff88;
}
.rating p {
  color: #ffffff;
}
/* Choose-TechWave section */

#Choose-TechWave {
  background-color: #230e3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 100px;
}
.choose-techwave-head {
  margin-bottom: 40px;
}
.choose-techwave-head h3 {
  font-size: 3rem;
  color: #ffffff;
}
.cmn > * {
  padding: 7px;
  color: #ffffff;
}
.cmn {
  border-radius: 10px;
  transition: all 0.5s ease;
}
.cmn h3 {
  font-size: 2rem;
}
.cmn:hover {
  transform: scale(1.09);
}
.Choose-TechWave-card1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
  background-color: #351165;
  padding: 15px;
  grid-area: Choose-TechWave-card1;
}
.Choose-TechWave-card2 {
  background-color: #351165;
  padding: 20px;
  grid-area: Choose-TechWave-card2;
}
.Choose-TechWave-card3 {
  background-color: #351165;
  padding: 20px;
  grid-area: Choose-TechWave-card3;
}
.Choose-TechWave-card4 {
  background-color: #351165;
  padding: 20px;
  grid-area: Choose-TechWave-card4;
  text-align: justify;
}
.Choose-TechWave-card4 img {
  width: 12%;
  border-radius: 50%;
  /* ai card ar icon paini jonne ss niya use koresi */
}
.Choose-TechWave-card5 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
  background-color: #351165;
  padding: 20px;
  grid-area: Choose-TechWave-card5;
}
.choose-techwave-main-container {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "Choose-TechWave-card1 Choose-TechWave-card2 Choose-TechWave-card2"
    "Choose-TechWave-card1 Choose-TechWave-card3 Choose-TechWave-card3"
    "Choose-TechWave-card4 Choose-TechWave-card4 Choose-TechWave-card5";
  max-width: 1200px;
}
/* Featured-Episodes start here */

#Featured-Episodes {
  background-color: #1a0b2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 50px;
}
.Featured-Episodes-head h3 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 3rem;
}
.Featured-Episodes-vedio {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.ifrem1 {
  width: 270px;
  box-shadow: 5px 5px 10px #532d84;
  color: #ffffff;
  background-color: #2d1053;
  border: #532d84 1px solid;
  border-radius: 15px;
}

.vedio1-des {
  padding: 10px;
}
.vedio1-des h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.vedio1-des p {
  margin: 10px auto;
  text-align: justify;
}
.vedio1-time ul {
  display: flex;
  gap: 5px;
  text-align: center;
}
.vedio1-time ul li {
  list-style: none;
  color: #00ff88;
}
.vedio1-time img {
  width: 16px;
}
.ifrem2 {
  width: 270px;
  box-shadow: 5px 5px 10px #532d84;
  color: #ffffff;
  background-color: #2d1053;
  border-radius: 15px;
}
.vedio2-des {
  padding: 10px;
}
.vedio2-des h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.vedio2-des p {
  margin: 10px auto;
  text-align: justify;
}
.vedio2-time ul {
  display: flex;
  gap: 5px;
  text-align: center;
}
.vedio2-time ul li {
  list-style: none;
  color: #00ff88;
}
.vedio2-time img {
  width: 16px;
}
.ifrem3 {
  width: 270px;
  box-shadow: 5px 5px 10px #532d84;
  color: #ffffff;
  background-color: #2d1053;
  border-radius: 15px;
}
.vedio3-des {
  padding: 10px;
}
.vedio3-des h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.vedio3-des p {
  margin: 10px auto;
  text-align: justify;
}
.vedio3-time ul {
  display: flex;
  gap: 5px;
  text-align: center;
}
.vedio3-time ul li {
  list-style: none;
  color: #00ff88;
}
.vedio3-time img {
  width: 16px;
}
/* host section start */
#host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a0b2e;
}
.host-main-div {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  flex-direction: column;
}
.host-head {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 2.5rem;
}
.host-Alex-Kumar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d1053;
  padding: 2.5rem;
  border-radius: 1rem;
}
.Alex-Kumar-img {
  width: 100%;
}
.Alex-Kumar-des {
  margin: 0px;
}
.Alex-Kumar-des h4 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}
.Alex-Kumar-des p {
  font-size: 1rem;
  color: #ffffff;
  margin: 16px 0px;
  text-align: justify;
}
.Alex-Kumar-des ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.Alex-Kumar-des ul li {
  list-style: none;
}
.Alex-Kumar-des img {
  border: #532d84 1px solid;
  padding: 10px;
  border-radius: 20px;
}
#in-img {
  padding: 10px;
  border-radius: 15px;
}
/* footer start here */
footer {
  background-image: url(./assets/footer-bg.png);
  background-position: center;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.footer-container {
  max-width: 1200px;
  text-align: center;
  padding: 40px;
}
.tech-color {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}
.footer-container #wave-color {
  background: linear-gradient(
    to top,
    rgb(231, 216, 53),
    rgb(224, 7, 159),
    rgb(123, 4, 209)
  );
  background-clip: text;
  color: transparent;
}
.footer-manubar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
  padding: 30px;
}
.manu {
  max-width: 630px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.manu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  text-align: center;
  gap: 10px;
  margin-top: 2rem;
}
.manu ul li a {
  color: #ffffff;
  text-decoration: none;
}
.manu li .img1 {
  width: 14px;
  margin-right: 5px;
}
.manu li .img2 {
  width: 13px;
  margin-right: 5px;
}
.manu li img {
  width: 15px;
  margin-right: 5px;
}
.copyrigh p {
  color: #ffffff;
  margin-top: 1.3rem;
}
